@model FabrikamAspPrac1.Models.Loan
@{
    ViewBag.Title = "Loan Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calculate Your Interest</h2>

@using (Html.BeginForm("Calculate", "Loan")) {
<div class="btn-group-vertical form-group">
    @Html.TextBoxFor(m => m.Amount, new
{
   @class = "form-control",
   placeholder = @Html.DisplayNameFor(m => m.Amount)
})

    <br />

    @Html.TextBoxFor(m => m.Percentage, new
{
   @class = "form-control",
   placeholder = @Html.DisplayNameFor(m => m.Percentage)
})

</div>

    <hr />
    <div class="btn-group-vertical form-group">

        <button disabled class="form-control">Year 1</button>
        <br />
        <button disabled class="form-control">Year 2</button>
        <br />
        <button disabled class="form-control">Year 3</button>
        <br />
        <button disabled class="form-control">Year 4</button>
        <br />
        <button disabled class="form-control">Year 5</button>
    </div>

    

    <div class="btn-group-vertical form-group">
        <label>Monthly Payment</label>
        @Html.TextBoxFor(m => m.months[0], new
        {
            @class = "form-control",
            placeholder = @Html.DisplayName("Amount")
        })

        <br />

        @Html.TextBoxFor(m => m.months[1], new
        {
            @class = "form-control",
            placeholder = @Html.DisplayName("Amount")
        })

        <br />

        @Html.TextBoxFor(m => m.months[2], new
        {
            @class = "form-control",
            placeholder = @Html.DisplayName("Amount")
        })

        <br />

        @Html.TextBoxFor(m => m.months[3], new
        {
            @class = "form-control",
            placeholder = @Html.DisplayName("Amount")
        })

        <br />

        @Html.TextBoxFor(m => m.months[4], new
        {
            @class = "form-control",
            placeholder = @Html.DisplayName("Amount")
        })


    </div>
    


    <div class="btn-group-vertical form-group">

        <label style="text-align: center">Loan Total</label>
        @Html.TextBoxFor(m => m.loanTotals[0], new
        {
            @class = "form-control",
            placeholder = @Html.DisplayName("Amount")
        })

        <br />

        @Html.TextBoxFor(m => m.loanTotals[1], new
        {
            @class = "form-control",
            placeholder = @Html.DisplayName("Amount")
        })

        <br />

        @Html.TextBoxFor(m => m.loanTotals[2], new
        {
            @class = "form-control",
            placeholder = @Html.DisplayName("Amount")
        })

        <br />

        @Html.TextBoxFor(m => m.loanTotals[3], new
        {
            @class = "form-control",
            placeholder = @Html.DisplayName("Amount")
        })

        <br />

        @Html.TextBoxFor(m => m.loanTotals[4], new
        {
            @class = "form-control",
            placeholder = @Html.DisplayName("Amount")
        })


    </div>

    <hr/>

    <button type="submit" class="btn btn-primary">Calculate</button>
    <button type="submit" class="btn btn-warning">Clear</button>

}
